html
{
    font-family: 'GrundschriftRegular';
    cursor:url(images/cursor2.png), auto;
}

body
{
    background-image: url(images/librarynight.jpg);
    background-repeat: no-repeat;
    background-size: 2128px 1040px;
}

h1
{
    text-align: center;
}

h2
{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 2em;
}

.task_list
{
    overflow: auto;
    background-image: url(images/notepadbgnight.jpg);
    border: 1px solid rgb(151, 151, 151);
    border-radius: 1.56rem;
    padding: 1.56rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
    height: 25rem;
    width: 31.25rem;
    line-height: 2.3rem;
}

.task
{
    display: block;
    padding-bottom: 0.62rem;
    font-size: 1rem;
}

.todo
{
    padding: 1rem;
    margin-bottom: 1rem;
}

.done
{
    padding: 1rem;
}

.button
{
font-family: 'GrundschriftRegular';
font-weight: 900;
font-size: 2rem;
background: transparent;
border: 0px;
margin-left: 10.6rem;
margin-top: 2.5rem;
padding: 0.75rem;
}

p
{
    color: rgb(124, 124, 124);
    text-decoration: line-through;
}


.addtask
{
    background-image: url(images/notepadbgnight.jpg);
    border: 1px solid rgb(151, 151, 151);
    border-radius: 1.56rem;
    padding: 1.56rem;
    margin-left: auto;
    margin-right: auto;
    height: 12.5rem;
    width: 31.25rem;
}

.addtask > div > h2
{
    font-weight: 400;
    padding-bottom: 1.5rem;
}

.addtask > p
{
    font-size: 0.81rem;
}

input
{
    cursor:url(images/cursor2.png), auto;
}
.dropper {
  width: 400px;
  height: 200px;
}

#stylesheet1
{
    height: 50px;
    width: 50px;
}

#stylesheet2
{
    height: 50px;
    width: 50px;
}

body > .notepad::-webkit-scrollbar 
{
    width: 1em;
}
 
body > .notepad::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body > .notepad::-webkit-scrollbar-thumb 
{
  background-color: yellow;
  outline: 1px solid slategrey;
}